body{
    font-family: Lato, sans-serif !important;
    box-sizing: border-box;
    padding: 40px 60px 60px !important;
    background: #dbdee5;
    height: calc(100dvh - 60px - 60px);
}
.splitDashboard h2{
    margin: 0;
    padding: 0 0 12px;
    margin: 0 0 16px;
    position: relative;
    font-weight: 400;
    & em{
        position: absolute;
        width: 40px;
        height: 4px;
        background: #c6041f;
        bottom: 0;
        left: 0;

    }
}
.GridSection{
background: #fff;
position: relative;
padding: 40px;
border-radius: 12px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
& .logo{
    position: absolute;
        left: 0;
        top: -30px;
        margin: 0;
}
}
.cardSec {
 min-width: 35%;
 box-sizing: border-box;
 flex-direction: column;
 display: flex;
 height: calc(100dvh - 40px - 40px - 60px - 60px);
}
.cardSec > div:first-child{
    overflow-x: auto;
    flex: 1;
    width: 100%;

}

.billSection form div{
    padding: 0 0 24px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    & label{
        font-size: 18px;
        font-weight: 600;
    }
}
.btnPrimary{
background: #266fd5;
        border: 1px solid #266fd5;
        padding: 8px 10px;
        border-radius: 4px;
        font-weight: 600;
        color: #212121;
        cursor: pointer;
        color: #fff;
        width: auto;
}
body .cardSec  ul li .closed{
    background: #c6041f;
    color: #fff;
    border: 1px solid #c6041f;
}
.billSection{
    background: #edf4fc;
    padding: 24px;
    border-radius: 12px;
    width: 100%;
}
.error{
    font-size: 12px;
    color: darkred;
    margin: 2px 0 10px;
}
.GridSection{
    display: flex;
    gap: 48px;
}
.mt16{
    margin: 16px 0 0;
    text-align: right;
}
.addForm{
    width: 100%;
    background: #edf4fc;
    padding: 16px;
    border-radius: 12px;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    box-sizing: border-box;
    margin: 12px 0 0;
    & div{
        display: flex;
        flex-direction: column;
        gap: 16px;
        & label{
            width: 100px;
        }
        & input{
            width: 100%;
            height: 24px;
            border-radius: 4px;
            border: 1px solid #757575;
            padding: 0 10px;
            box-sizing: border-box;
        }
    }
    & label{
        font-size: 12px;
    }
   
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.cardSec ul li:first-child{
    border: none;
}

.innerSec{
    display: flex;
    gap: 12px;
}
.cardSec ul li{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #fff;
    gap: 32px;
    background: #edf4fc;
    border-radius: 12px;
    padding: 12px 12px 12px 20px;
        border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    align-items: center;
    & em{
        position: absolute;
        left: 0;
        top: 0;
        width: 4px;
        height: 100%;
        background: #266fd5;
    }
    & img{
        border-radius: 12px;
        border: 1px solid #ccc;
        width: 60px;
    }
    & h5{
        margin: 8px 0 8px;
        font-weight: 600;
        color: #212121;
        text-transform: uppercase;
    }
    & span{
        font-size: 12px;
        color: #757575;
    }
    .red{
    color: red;
}
.green{
    color: green;
}
    & button{
        background: #266fd5;
        padding: 6px 4px;
        border-radius: 4px;
        border: 1px solid #266fd5;
        color: #fff;
        font-weight: 700;
        min-width: 90px;
        cursor: pointer;
    }
}
